:root{
    --primary-color:#7360DF;
    /* --primary-color:#fff; */
    --accent-color: #45FFCA;
    --secondary-color:#E9B824;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #ffffff1f;
    backdrop-filter:blur(30px);
    width: 40rem ;
    padding: 40px;
    border-radius: 2rem ;
}

.heading{
    color: var(--secondary-color);
}

.heading2 span{
    color: var(--accent-color);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--accent-color);
}

.content{
    width: 100%;
    padding: 40px 0;
    
}

.input-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box{
    width: 89%;
    height: 2.6rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1rem;
    /* background-color: var(--secondary-color); */
    font-size: 1.2rem;
}

/* .input-box::placeholder{
    color: #fff;
} */

.copy-btn{
    width: 10%;
    height: 2.6rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--secondary-color);
    border: 1px solid var(--seondary-color);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    position: relative;
}

/* .copy-btn::before{
    content: 'Copied';
    font-size: 1rem;
    position: absolute;
    width: 4rem;
    height: 2rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    top: -47px;
    left: -4px;
    z-index: 1;
    display: none;
    transition: 0.9s;
}
.copy-btn::after{
    display: none;
    content: '';
    font-size: 1rem;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid var(--secondary-color);
    position: absolute;
    border-radius: 10px;
    top: -20px;
    left: 18px;
    transition: 0.2s;
}

.copy-btn.active::after,
.copy-btn.active::before{
    display: block;
    
} */

.active{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.custom-area{
    width: 100%;
    padding-top: 1rem;
}

.items{
    background-color: #ffffff02;
    backdrop-filter:blur(30px);
    margin: 10px 0;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.check{
    display: none;
}

.items label.btn{
    width: 4.2rem;
    height: 2.5em;
    border-radius: 2rem;
    background-color: var(--primary-color);
    border: none;
    position: relative;
    padding: 0.3rem;
}

.items label.btn:before{
    content: "";
    width: 2rem;
    height: 2rem;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff1f;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: left 0.3s ease;
    left: 5px;   
}
.items input[type="checkbox"]:checked + label.btn::before {
    content: 'ON'; /* Show 'ON' when the checkbox is checked */
  }
  
  .items input[type="checkbox"]:not(:checked) + label.btn::before {
    content: 'OFF'; /* Show 'OFF' when the checkbox is not checked */
  }

.items input[type="checkbox"]:checked + label.btn:before {
  left: calc(60% - 10px );
    
}


.character-length{
    width: 4rem;
    height: 2.5em;
    padding: 5px;
    border-radius: 1rem;
    border: none;
    text-align: center;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
}

 .character-length::placeholder{
    color: #fff;
 }

 .generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 30px;
    font-weight: 900;
    color: var(--primary-color);
 }

 .generate-btn i{
    margin-left: 10px;
 }

 @media screen and (max-width:1380px){
    .items input[type="checkbox"]:checked + label.btn:before {
        left: calc(50% - 5px);  
      }
 }

 /* @media screen and (max-width:1024px){
    .container{
        width: 50rem;
    }
    .items{
        padding: 20px;
    }
    .generate-btn{
        padding: 2.5rem;
        font-size: 2rem;
    }
 } */

 @media screen and (max-width:1024px )and (max-height:600px){
    .container{
        width: 50rem;
        padding: 10px 30px;
    }
    .items{
        padding: 5px 20px;
    }
    .generate-btn{
        padding: 2rem;
        font-size: 1.5rem;
        height: 2rem;
    }
    .items label.btn{
        width: 4.2rem;
        height: 2.5em;
    }  
    
    .items label.btn:before{
        width: 2rem;
        height: 2rem;
    }
    .heading{
        font-size: 1.5rem;
    }
    .heading2{
        font-size: 1.5rem;
    }
    .items input[type="checkbox"]:checked + label.btn:before {
        left: calc(60% - 10px );
          
      }
      .content{
        padding: 20px 0;
      }
 }

 

 @media screen and (max-width:780px){
    .container{
        width: 40rem;
    }
 }
 @media screen and (max-width:680px){
    .container{
        width: 35rem;
    }
 }
 @media screen and (max-width:540px){
    .container{
        width: 35rem;
        padding: 20px;
    }
    .items{
        padding: 10px 20px;
    }
    .items input[type="checkbox"]:checked + label.btn:before {
        left: calc(60% - 20px );
    }
 }

 @media screen and (max-width:580px){
    .container{
        width: 30rem;
    }
    .content{
        padding-bottom:20px ;
    }
    .items{
        font-size: 0.8rem;
    }
    .items label.btn:before{
        width: 1.6rem;
        height: 1.6rem;

    }
    .items input[type="checkbox"]:checked + label.btn:before {
        left: calc(65% - 5px );
          
      }
 }

 @media screen and (max-width:480px){
    .container{
        width: 27rem;
    }
    .heading{
        font-size: 1.7rem;
    }
    .heading2{
        font-size: 1.7rem;
    }
    .input-box{
        width: 88% ;
    }
    .content{
        padding: 30px 0 ;
    }
    .items{
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }

    .items h3{
        padding-right: 30px;
    }
    .items label.btn:before{
        width: 1.6rem;
        height: 1.6rem;
    }
    .generate-btn{
        padding: 0;
    }
 }

 @media screen and (max-width:430px){
    .container{
        width: 25.5rem;
        padding: 20px;
    }    
 }
 @media screen and (max-width:420px){
    .container{
        width: 23rem;
        padding: 20px;
    }

    .input-box{
        width: 86% ;
    }
    .copy-btn{
        width: 12%;
    }
    .content{
        padding: 30px 0 10px 0 ;
    }
    .items{
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }

    .items h3{
        padding-right: 40px;
    }
    .items label.btn:before{
        width: 1.6rem;
        height: 1.6rem;
    }
    .items label.btn:before{
        width: 1.5rem;
        height: 1.5rem;

    }
    
 }
 @media screen and (max-width:390px){
    .container{
        width: 21rem;
        padding: 20px;
    }

    .items h3{
        padding-right:20px ;
        font-size: 0.8rem;
    }  
    .generate-btn{
        font-size: 1.3rem;
    }
 }
 @media screen and (max-width:280px){
    .container{
        width: 15rem;
        padding: 20px 10px;
    }

    .input-box{
        height: 2rem;
        padding: 5px;
    }
    .input-box::placeholder{
        font-size: 0.9rem;
    }
    .copy-btn{
        height: 2rem;
        font-size: 1rem;
    }
    .heading{
        font-size: 1.2rem;
    }

    .heading2{
        font-size: 1.2rem;
    }
    .items{
        padding: 5px 10px ;
    }
    .items h3{
        padding-right:20px ;
        font-size: 0.68rem;
    }  
    .generate-btn{
        font-size: 1rem;
        padding: 10px;
        height: 2rem;
    }
    .custom-area{
        padding-top: 5px;
    }

    .items label.btn{
        width: 3rem;
        height: 2.2em;
    }  
    
    .items label.btn:before{
        width: 1.2rem;
        height: 1.2rem;
    }
    .character-length{
        width: 3rem;
        height: 2.2em;
    }
 }